Flask
flask-cors
requests
googledrivedownloader
google-auth
google-api-python-client
google-auth-oauthlib

botocore==1.20.112
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
google-api-core==2.4.0
google-api-python-client==2.36.0
google-auth==2.5.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.54.0
googledrivedownloader==0.4
httplib2==0.20.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
oauth2client==4.1.3
oauthlib==3.1.1
packaging==20.9
pandoc==2.0.1
Pillow==9.0.0
plumbum==1.7.2
ply==3.11
protobuf==3.19.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pypandoc==1.7.2
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
pywin32==303
requests-oauthlib==1.3.0
rsa==4.8
s3transfer==0.4.2
six==1.16.0
uritemplate==4.1.1
urllib3==1.26.8
Werkzeug==2.0.2
wget==3.2
pytest